name: Build, Test & Deploy to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:
  inputs: 
    branch:
      description: 'branch to deploy'
      required: false
      default: 'main'
env:
  dotnet_version: '10.0.x'
  AZURE_WEBAPP_NAME: 'as-app-dev'
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build application
      run: dotnet build --configuration Release --no-restore

    - name: Run automated tests
      run: dotnet test --no-build --verbosity normal

    - name: Publish application
      run: dotnet publish -c Release -o ./publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish
